# code owners must approve PRs

# code-gen-library ANYBODY
code-gen-tools/**/*.*   @HUSSAR-mtrela
editor-templates/**/*.* @xsharp-reviewers-usa
editor-hosts/**/*.*     @xsharp-reviewers-usa
samples/gauges/**/*.*   @xsharp-reviewers-usa
# samples/maps/**/*.* @HUSSAR-mtrela
# samples/charts/**/*.* @HUSSAR-mtrela

# *.md @HUSSAR-mtrela
# *.js @HUSSAR-mtrela
# *.ts @HUSSAR-mtrela
# *.json @HUSSAR-mtrela
