/* autoprefixer grid: on */
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}
// ifdef templateStyles
// insert templateStyles

// end templateStyles
// endifdef templateStyles
// insert handlersStyles

// end handlersStyles
