/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/
// ifdef templateStyles
// insert templateStyles

// end templateStyles
// endifdef templateStyles
// insert handlersStyles
// end handlersStyles
// ifdef aboveContentLeft, aboveContentRight
#aboveContentSplit {
    display: flex;
    flex-direction: row;
}
#aboveContentLeftContainer {
    margin-left: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: end;
}
#aboveContentRightContainer {
    margin-right: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: end;
}
// endifdef aboveContentLeft, aboveContentRight
