/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css/samples/shared.v6.css
*/
// ifdef templateStyles
// insert templateStyles

// end templateStyles
// endifdef templateStyles
// insert handlersStyles
// end handlersStyles
// ifdef aboveContentLeft, aboveContentRight
#aboveContentSplit {
    display: flex;
    flex-direction: row;
}
#aboveContentLeftContainer {
    margin-left: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: end;
}
#aboveContentRightContainer {
    margin-right: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: end;
}
// endifdef aboveContentLeft, aboveContentRight
// ifdef leftContent, rightContent
#contentSplit {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#leftContentContainer {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
}
#rightContentContainer {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
}
// endifdef leftContent, rightContent
// ifdef belowContent
.belowContent {
    display: flex;
    flex-direction: column;
}
// endifdef belowContent
