<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}/igEditor/log.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="Chainsaw" name="chainsaw" address="udp://10.0.2.2:7071" includeMdc="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>