trigger:
  branches:
    include:
    - vnext
  paths:
    include:
      - 'samples/**/*.json'
    exclude:
      - 'master'

parameters:
  - name: pathsToParse
    displayName: 'Full paths that contain jsons - coma delimited'
    type: string
    default: '$(Pipeline.Workspace)\xplatеxamples\samples\charts\sparkline'

pr:
  branches:
    include:
    - 'vnext'  # must quote since "*" is a YAML reserved character; we want a string
    - 'azure-pipeline-use-code-exporter-app'
    exclude:
      - 'master'

name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
variables:
#  - name: 'pathsToParse'
    #value: '$(Pipeline.Workspace)\xplatеxamples\samples\grids,$(Pipeline.Workspace)\xplatеxamples\samples\charts'
#    value: '$(Pipeline.Workspace)\xplatеxamples\samples\charts\sparkline'
  - name: codeExporterAppBranch
    value: '2022.2'

resources:
  repositories:
    - repository: IgniteUIDocFX
      endpoint: ESShared
      type: github
      name: IgniteUI/igniteui-docfx
      ref: '$(Build.SourceBranch)'

    - repository: IgniteUIAngularExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-angular-examples
      ref: '$(Build.SourceBranch)'

    - repository: IgniteUIBlazorExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-blazor-examples
      ref: '$(Build.SourceBranch)'

    - repository: IgniteUIReactExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-react-examples
      ref: '$(Build.SourceBranch)'

    - repository: IgniteUIWebComponentsExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-wc-examples
      ref: '$(Build.SourceBranch)'

    - repository: IgEditorTemplates
      type: git
      name: igeditor-templates
      ref: 'master'

    - repository: CodeGenerationLibrary
      type: git
      name: code-generation-library
      ref: '2022.2'

    - repository: CodeGenerationLibrary
      type: git
      name: code-generation-library
      ref: '2022.2'

pool:
  name: BuildAgentOnPrem

stages:
- stage: Prepare
  jobs: 
  - job: PrepareJsons
    steps:
    - checkout: self
      persistCredentials: true
      lfs: true
      clean: true

    - checkout: IgniteUIDocFX
      persistCredentials: true
      lfs: true
      clean: true

    - task: PowerShell@2
      displayName: "Explicit dummy change to destination repo"
      inputs:
        targetType: 'inline'
        script: |
          Write-Output $pwd
          write-output 'Explicit dummy change' > dummy-file.txt
        showWarnings: true
        ignoreLASTEXITCODE: true
        pwsh: true
        workingDirectory: '$(Build.SourcesDirectory)\igniteui-docfx'

    - powershell: |
        git add -A
        git commit --dry-run

        if ($? -eq $True) {
          git commit -m "Adding changes from build $(Build.BuildNumber)"

          git push -u origin ESShared/XPlaform_examples_$(Build.BuildNumber)
          Write-Host "##vso[task.setvariable variable=isDestinationRepoChanged;]true"
        }
        else {
          Write-Host "##vso[task.setvariable variable=isDestinationRepoChanged;]false"
          return 0
        }
      displayName: 'If there are changes, commit & make PR'
      workingDirectory: '$(Build.SourcesDirectory)\igniteui-docfx'


    - task: CreatePullRequest@1
      displayName: 'Create PR to IgniteUI/igniteui-docfx $(Build.SourceBranch)'
      #condition: ne(variables['Build.Reason'], 'PullRequest')
      #condition: or(eq(variables['Build.Reason'], 'IndividualCI '), or(variables['Build.Reason'], 'BatchedCI'))
      condition: and(in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI', 'Manual'), eq(variables['isDestinationRepoChanged'], true))
      inputs:
        repoType: 'GitHub'
        githubEndpoint: 'IgniteUI'
        githubRepository: 'IgniteUI/igniteui-docfx'
        sourceBranch: 'ESShared/XPlaform_examples_$(Build.BuildNumber)'
        targetBranch: '$(Build.SourceBranch)'
        title: 'Changes from $(Build.DefinitionName)'

    - task: UseDotNet@2
      displayName: 'Use .NET 6'
      inputs:
        packageType: 'sdk'
        version: '6.x'

    - task: PowerShell@2
      displayName: "Remove json files where 'export' flag is false or missing"
      inputs:
        targetType: 'inline'
        script: |
          Write-Output "Chocolatey install jq - tool to traverse JSON files"
          Invoke-Expression -Command "choco install jq -y"

          foreach ($jsonFile in Get-ChildItem "samples" -Filter "*.json" -Recurse)
              {
                Write-Output "Parsing $($jsonFile.FullName)"
                $exportFlag = $(jq .export $jsonFile.FullName -e)
                if ($exportFlag -eq $null -Or $exportFlag -eq "false") {
                    
                    Remove-Item $jsonFile.FullName
                    Write-Output "Removed $($jsonFile.FullName) - export flag is false or missing"
                }
              }
        showWarnings: true
        ignoreLASTEXITCODE: true
        pwsh: true
        workingDirectory: '$(Build.ArtifactStagingDirectory)'

    - publish: '$(Build.SourcesDirectory)'
      displayName: 'Publish XPlat Example JSONs'
      artifact: xplatеxamples

- stage: Convert
  jobs:
  - template: templates/convert-to-platform-job.yml
    parameters:
      platform: 'Angular'
      destinationGitRepo: 'igniteui-angular-examples'
      pathsToParse: ${{ parameters.pathsToParse }}
      codeExporterAppBranch: $(codeExporterAppBranch)

  - template: templates/convert-to-platform-job.yml
    parameters:
      platform: 'Blazor'
      destinationGitRepo: 'igniteui-blazor-examples'
      pathsToParse: ${{ parameters.pathsToParse }}
      codeExporterAppBranch: $(codeExporterAppBranch)

  - template: templates/convert-to-platform-job.yml
    parameters:
      platform: 'React'
      destinationGitRepo: 'igniteui-react-examples'
      pathsToParse: ${{ parameters.pathsToParse }}
      codeExporterAppBranch: $(codeExporterAppBranch)

  - template: templates/convert-to-platform-job.yml
    parameters:
      platform: 'WebComponents'
      destinationGitRepo: 'igniteui-wc-examples'
      pathsToParse: ${{ parameters.pathsToParse }}
      codeExporterAppBranch: $(codeExporterAppBranch)
