trigger:
  branches:
    include:
    - '23.2.x'
  paths:
    include:
      - 'samples/**/*.json'
    exclude:
      - 'master'
      - '23.1.x'

parameters:
  - name: pathsToParse
    displayName: 'Full paths that contain jsons - coma delimited'
    type: string
    default: '$(Build.SourcesDirectory)\igniteui-xplat-examples\samples'

# This pipeline is meant to run on changes pushed to the vnext branch only.
# If it runs on PRs, it will create PRs to the destination repos' vnext branches - we don't want that.
pr: none

name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
variables:
  - name: codeExporterAppBranch
    value: '2023.2'

resources:
  repositories:
    - repository: IgniteUIAngularExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-angular-examples
      ref: 'vnext'

    - repository: IgniteUIBlazorExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-blazor-examples
      ref: 'vnext'

    - repository: IgniteUIReactExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-react-examples
      ref: 'vnext'

    - repository: IgniteUIWebComponentsExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-wc-examples
      ref: 'vnext'

pool:
  name: BuildAgentOnPrem

jobs:
- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'Angular'
    destinationGitRepo: 'igniteui-angular-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: true

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'Blazor'
    destinationGitRepo: 'igniteui-blazor-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: true

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'React'
    destinationGitRepo: 'igniteui-react-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: true

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'WebComponents'
    destinationGitRepo: 'igniteui-wc-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: true
