trigger:
  branches:
    include:
    - '24.1.x'
  paths:
    include:
      - 'samples/**/*.json'
    exclude:
      - vnext
      - 'master'
      - '23.1.x'
      - '23.2.x'

parameters:
  - name: pathsToParse
    displayName: 'Full paths that contain jsons - coma delimited'
    type: string
    default: '$(Build.SourcesDirectory)\igniteui-xplat-examples\samples\charts\sparkline'

# This pipeline is meant to validate changes in developers' feature branches. It's not meant to be a part of PR validation.
pr: none

name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
variables:
  - name: codeExporterAppBranch
    value: '2024.1'

resources:
  repositories:
    - repository: IgniteUIAngularExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-angular-examples
      ref: 'vnext'

    - repository: IgniteUIBlazorExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-blazor-examples
      ref: 'vnext'

    - repository: IgniteUIReactExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-react-examples
      ref: 'vnext'

    - repository: IgniteUIWebComponentsExamples
      endpoint: IgniteUI
      type: github
      name: IgniteUI/igniteui-wc-examples
      ref: vnext

pool:
  #name: BuildAgentOnPrem
  vmImage: 'windows-latest'

jobs:
- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'Angular'
    destinationGitRepo: 'igniteui-angular-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: false

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'Blazor'
    destinationGitRepo: 'igniteui-blazor-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: false

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'React'
    destinationGitRepo: 'igniteui-react-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: false

- template: templates/convert-to-platform-job.yml
  parameters:
    platform: 'WebComponents'
    destinationGitRepo: 'igniteui-wc-examples'
    pathsToParse: ${{ parameters.pathsToParse }}
    codeExporterAppBranch: $(codeExporterAppBranch)
    createPR: false
